<IfModule mod_php5.c>
  php_value include_path ".:/usr/share/pear:/usr/share/gforge:/usr/share/gforge/www:/usr/share/gforge/www/include"
</IfModule>
<IfModule mod_php4.c>
  php_value include_path ".:/usr/share/pear:/usr/share/gforge:/usr/share/gforge/www:/usr/share/gforge/www/include"
</IfModule>

