# Update CVS and re-run benchmark every hour
11 * * * *	(if [ -e $HOME/running.live ]; then exit 1; else (touch $HOME/running.live; cd /opt/shootout/shootout; cvs update -P -d;. bin/setenv.sh;  make all; make website; rm -f $HOME/running.live); fi) >> $HOME/shootout.run 2>&1
